/*******************************************************************************
Cascading Style Sheet for Blue Marble Geographics
Author: L Martz
Date Created: Mar 2006
*******************************************************************************/

html, body, #fullheight {height:100%; margin: 0; padding: 0; border: none; font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }

#fullheight {margin: 0 auto; text-align: left; vertical-align: top;}

a:link					{color:#224A8F; font-family: Verdana,Arial; text-decoration: none;      font-size: 12px;}
a:visited				{color:#224A8F; font-family: Verdana,Arial; text-decoration: none;      font-size: 12px;}
a:hover					{color:#224A8F; font-family: Verdana,Arial; text-decoration: underline; font-size: 12px;}
a:active					{color:#224A8F; font-family: Verdana,Arial; text-decoration: underline; font-size: 12px;}

a:link.bold					{color:#224A8F; font-family: Verdana,Arial; text-decoration: none; font-weight: bold;      font-size: 12px;}
a:visited.bold				{color:#224A8F; font-family: Verdana,Arial; text-decoration: none; font-weight: bold;      font-size: 12px;}
a:hover.bold					{color:#224A8F; font-family: Verdana,Arial; text-decoration: underline; font-weight: bold; font-size: 12px;}
a:active.bold					{color:#224A8F; font-family: Verdana,Arial; text-decoration: underline; font-weight: bold; font-size: 12px;}

a:link.large					{color:#224A8F; font-family: Verdana,Arial; text-decoration: none; font-weight: bold;     font-size: 14px;}
a:visited.large				{color:#224A8F; font-family: Verdana,Arial; text-decoration: none; font-weight: bold;     font-size: 14px;}
a:hover.large					{color:#224A8F; font-family: Verdana,Arial; text-decoration: underline; font-weight: bold; font-size: 14px;}
a:active.large					{color:#224A8F; font-family: Verdana,Arial; text-decoration: underline; font-weight: bold; font-size: 14px;}

a:link.subtitle					{color:#224A8F; font-family: Verdana,Arial; text-decoration: none;      font-size: 13px;}
a:visited.subtitle				{color:#224A8F; font-family: Verdana,Arial; text-decoration: none;      font-size: 13px;}
a:hover.subtitle					{color:#224A8F; font-family: Verdana,Arial; text-decoration: underline; font-size: 13px;}
a:active.subtitle					{color:#224A8F; font-family: Verdana,Arial; text-decoration: underline; font-size: 13px;}

a:link.small			{color:#224A8F; font-family: Verdana,Arial; font-weight: normal; text-decoration: none;      font-size: 9px;}
a:visited.small		{color:#224A8F; font-family: Verdana,Arial; font-weight: normal; text-decoration: none;      font-size: 9px;}
a:hover.small			{color:#224A8F; font-family: Verdana,Arial; font-weight: normal; text-decoration: underline; font-size: 9px;}
a:active.small			{color:#224A8F; font-family: Verdana,Arial; font-weight: normal; text-decoration: underline; font-size: 9px;}

a:link.light			{color:#A2CAFF; font-family: Verdana,Arial; text-decoration: none;      font-size: 12px;}
a:visited.light		{color:#A2CAFF; font-family: Verdana,Arial; text-decoration: none;      font-size: 12px;}
a:hover.light			{color:#A2CAFF; font-family: Verdana,Arial; text-decoration: underline; font-size: 12px;}
a:active.light			{color:#A2CAFF; font-family: Verdana,Arial; text-decoration: underline; font-size: 12px;}

a:link.smalllight		{color:#A2CAFF; font-family: Verdana,Arial; text-decoration: none;      font-size: 9px;}
a:visited.smalllight	{color:#A2CAFF; font-family: Verdana,Arial; text-decoration: none;      font-size: 9px;}
a:hover.smalllight	{color:#A2CAFF; font-family: Verdana,Arial; text-decoration: underline; font-size: 9px;}
a:active.smalllight	{color:#A2CAFF; font-family: Verdana,Arial; text-decoration: underline; font-size: 9px;}

a:link.smallwhite		{color:#FFFFFF; font-family: Verdana,Arial; text-decoration: none;      font-size: 9px;}
a:visited.smallwhite	{color:#FFFFFF; font-family: Verdana,Arial; text-decoration: none;      font-size: 9px;}
a:hover.smallwhite	{color:#FFFFFF; font-family: Verdana,Arial; text-decoration: underline; font-size: 9px;}
a:active.smallwhite	{color:#FFFFFF; font-family: Verdana,Arial; text-decoration: underline; font-size: 9px;}

a:link.question_small    {color:#224A8F; font-family: Verdana,Arial; text-decoration: none;      font-weight: normal;  font-size: 10px;}
a:visited.question_small {color:#224A8F; font-family: Verdana,Arial; text-decoration: none;      font-weight: normal;  font-size: 10px;}
a:hover.question_small   {color:#224A8F; font-family: Verdana,Arial; text-decoration: underline; font-weight: normal;  font-size: 10px;}
a:active.question_small  {color:#224A8F; font-family: Verdana,Arial; text-decoration: underline; font-weight: normal;  font-size: 10px;}
a:hover.question_target  {color:#224A8F; font-family: Verdana,Arial; text-decoration: none; 	font-weight: normal;  font-size: 10px;}

font.question_target     {color:#224A8F; font-family: Verdana,Arial; text-decoration: none;      font-weight: normal;  font-size: 12px;}

h1						{color: #AA0000; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 14px; }
h2						{color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 13px; }

p									{color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
.bluebg						{background-color: #173C82 }
.title						{color: #AA0000; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 14px; }
.presstitle				{color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 14px; }
.subtitle					{color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 13px; }
.bluesub					{color: #2149AC; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 13px; }
.description			{color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
.product					{color: #2149AC; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight:normal; font-size:12pt}
.normalwhite			{color: #ffffff; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
.smallwhite				{color: #ffffff; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; }
.whitebold				{color: #ffffff; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; }
.tiny_description	{color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight:normal; font-size: 7pt}
.tiny_description_red	{color: #FF0000; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight:normal; font-size: 7pt}
.small_description	{color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight:normal; font-size: 9px}
.normaltext				{color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
.smalltext				{color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; }
.superscrtext				{color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8px; vertical-align: super;}
.annual_support_title	{color: #FF0000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
.error_mesg				{color: #FF0000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
.required_field		{color: #FF0000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
font.invoice_title	{color:#000000; font-family: Verdana, Arial; font-weight:bold; font-size:12pt}
font.order_number		{color:#FF0000; font-family: Verdana, Arial; font-weight:bold; font-size:12pt}
font.statement			{color:#000000; font-family: Verdana, Arial; font-weight:bold; font-size:10pt}

td							{color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;}
th							{color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; line-height:120%; font-size: 12px}
td.subtblhd				{background-color:#D9D9D9}
td.nftd					{background-color:#F6F6F6}
td.tblheader			{color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; line-height: 16pt; background-color:#F9DC8C;}
td.borders {border-right-color: black; border-right-style: solid; border-right-width: 1px; padding-right: 6px;}
td.tblhbord			{color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight:bold; font-size: 12px; line-height: 16pt; background-color:#F9DC8C; border-right-color: black; border-right-style: solid; border-right-width: 1px; padding-right: 6px;}

table.normalform		{width:100%}
/* The next is down so that space around a form will not be added */
form						{margin-bottom:0; margin-top:0}

marqueeVerticalcontainer { background-color: white;}
marqueeVertical { background-color: white; color: #224A8F; }
marqueeVertical a { color: #224A8F;}
marqueeVertical .scroll { padding-top: 10px; }
marqueeVertical .scroll a { color: #224A8F;}

table.simple { border-width: 1px 1px 1px 1px; border-spacing: 0px; border-style: solid solid solid solid; border-color: #666666; border-collapse: separate; background-color: #FFFFEE; }
table.simple th { border-width: 1px 1px 1px 1px; padding: 4px 3px 4px 3px; border-style: solid solid solid solid; border-color: #666666; background-color: #FFFFEE; -moz-border-radius: 0px 0px 0px 0px; }
table.simple td { border-width: 1px 1px 1px 1px; padding: 4px 3px 4px 3px; border-style: solid solid solid solid; border-color: #666666; background-color: #FFFFEE; -moz-border-radius: 0px 0px 0px 0px; }


/*Search page body */
/*Top categories*/
.main_cat1 {font-size: 16px; font-weight: bold; color:#0000FF}
.main_cat2 {font-size: 12px; font-weight: bold; color:#0000FF}
.cat1:visited {font-size: 16px; font-weight: bold; color:#5555AA}

/*Small urls*/
.url {font-size: 9px; color: #600060}

/*Page descriptions*/
.description{font-size: 12px;}

td.searchBox{border:1px solid #113377;}

#result_report {
	text-align:center ;
	padding:3px;
	background-color:#e5ecf9; 
	font-weight: bold;
	margin-bottom:14px;
}

.catBanner {
	padding:3px;
	margin-top:15px;
	background-color:#e5ecf9; 
	font-weight: bold
}
.webPageBanner {
	padding:3px;
	margin-top:20px;
	background-color:#e5ecf9; 
	font-weight: bold
}

#other_pages {
	text-align:center;
}

#powered_by {
	margin:0 auto;
	margin-top:20px;
	padding-top:10px;
	font-size:10px;
	text-align:center;
}

#common_report {
		text-align:center;
}

#cat_table {
		margin-top:20px;
		padding-top:10px;
		padding-bottom:20px;
		border-top:1px solid #AAAAAA;
		border-bottom:1px solid #AAAAAA;
}

#cat_main {
	font-weight: bold;
}

.divline{
	margin-top:20px;
	margin-bottom:-5px;
	border-bottom:1px solid #DDDDDD;
}

#sub_cat {
	font-size:12px;
}

.idented {
	margin-left:30px;
}

#did_you_mean {
	font-size: 14px; 
	text-align:center ;
	margin:10px;
}
